 body 
 .octopus__html { 
   width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right, #00FFFF 20%, orange 20% 40%,#5F9EA0 41% );
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 18px;
    left: 177px; 
  }
   .octopus__css { 
   width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right, #00FFFF 20%, orange 20% 40%,#5F9EA0 41% ) ;
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 48px;
    left: 177px; 
    }
    .radius {
  width: 10em;
  height: 22em;
  border: 3px ;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  background: #00FFFF;
   }
   .octopus__teacher { 
    width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right, #00FFFF 55%, #5F9EA0 56% ) ;
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 78px;
    left: 177px; 
   }
   .octopus__english {
    width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right, #00FFFF 37%, orange 37% 50%,#5F9EA0 51% ) ;
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 108px;
    left: 177px; 
   }
   .octopus__design {
    width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right, #00FFFF 15%, orange 15% 40%,#5F9EA0 41% ) ;
    padding: 5px;
    padding-right: 20px;
    float: left;
    position: absolute; 
    top: 138px;
    left: 177px; 
   }
  .octopus__gameonguitar {
    width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right, #00FFFF 35%, orange 35% 40%,#5F9EA0 41% ) ;
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 168px;
    left: 177px; 
  }
  .octopus__JS {
    width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right, #00FFFF 5%, orange 5% 40%,#5F9EA0 41% );
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 198px;
    left: 177px; 
  }
  .block8 {
    width: 100px;
     max-width: 100px;
     display: table;
    background: #FF4500;
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 198px;
    left: 447px; 
  }
  .octopus__new {
    width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right,#00FFFF 0%, #5F9EA0 1%) ;
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 268px;
    left: 177px; 
    
  }
  .octopus__other {
     width: 200px;
     max-width: 200px;
     display: table;
    background: linear-gradient(to right,#00FFFF 0%, #5F9EA0 1%) ;
    padding: 5px;
    padding-right: 20px; 
    float: left;
    position: absolute; 
    top: 303px;
    left: 177px; 
    }
  }  
